<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")

   @Scripts.Render("~/bundles/jquery")
    <style>
        body
        {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="~/Content/icons/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/icons/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/icons/apple-touch-icon-57-precomposed.png">

    <div class="container">
        <div class="row">
            <div class="span2 offset9">
                
                    @Html.Partial("_LoginPartial")
               
            </div>
            

				<div class="span9">
					<ul class="nav nav-pills">
						<li>@Html.ActionLink("Home", "Index", "Home")</li>
						<li>@Html.ActionLink("Groups", "About", "Home")</li>
						@* <li>@Html.ActionLink("Proofile", "Contact", "Home")</li>*@
					</ul>
				</div>
                <div class="span3">
					<div class="input-append">
						<input type="text" id="appendedInputButton" class="span2" size="16" placeholder="Paste url here..." data-bind="value: $data.LongUrl">
						<button type="submit" class="btn" data-bind="click: $root.UpdateLink">Add</button>
					</div>
					</div>
            
            <!--/.nav-collapse -->

        </div>

    </div>
    @*<div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>*@

</head>

<body>
    <div class="container">

        @* @RenderSection("featured", required: false)*@
        @RenderBody()
    </div>
    <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
